//$border-color: #dddfe2;
/*$background: #e9ebee;
$logo-green: #8b9d4c;
$dark-grey: #e8e8e2;
$background-grey: #e8e8e2; */
$font-stack: verdana, arial, helvetica, sans-serif;
$link-text: #386641;
$visited-link: #B4CC97;